[2017-04-20 09:34] yregaieg opened #1 "Check the status of auditing on the alfresco platform and be able to activate/deactivate it"
It would be nice to be able to check status of auditing on alfresco platform and be able to activate/deactivate it from Alflytics administration.

[2017-06-04 06:52] fcorti opened #2 "Add to documentation the update of alflytics.dbPassword"
From Pablo:
I have noticed that in addition to the parameter "alflytics.dbType" I have to change the password of the connection data to the database because it comes with the default password (postgres), this is not indicated in the manual, maybe it would be good to include it.

[2017-06-04 08:38] fcorti opened #3 "Empty JSON input tmp files"
In all the "tmp to table" jobs you should check if JSON are empty.
Some users have this issue.
/public/Alflytics/ETL/Get json in table
...

[2017-06-04 08:41] fcorti opened #4 "&amp; character in endpoint result are badly managed"
In some environments (also on linux), endpoint like:

<endpoint id="alfrescoPeople">/alfresco/api/-default-/public/alfresco/versions/1/people?maxItems=${maxItems}&amp;skipCount=${skipCount}</endpoint>
<endpoint id="alfrescoPeopleCount">/alfresco/api/-default-/public/alfresco/versions/1/people?maxItems=1000000000&amp;skipCount=1&amp;fields=%7B%7D</endpoint>

http://localhost:8080/pentaho/plugin/Alf

[2017-06-04 12:09] nourmail commented on #4
Hi,
Please find bellow the URLs result  :

1) http://localhost:8080/pentaho/plugin/Alflytics/api/getendpoints?paramendpointId=alfrescoPeople
Result :
{"resultset":[["alfrescoPeople","skipCount=${skipCount}"]],"metadata":[{"colIndex":0,"colType":"String","colName":"endpointId"},{"colIndex":1,"colType":"String","colName":"endpoint"}],"queryInfo":{"totalRows":1}}

2) http://localhost:8080/pentaho/plu

[2017-06-04 18:15] fcorti commented on #4
Here the issue.
The correct results should be:

1.
`{"metadata":[{"colIndex":0,"colType":"String","colName":"endpointId"},{"colIndex":1,"colType":"String","colName":"endpoint"}],"queryInfo":{"totalRows":1},"resultset":[["alfrescoPeople","/alfresco/api/-default-/public/alfresco/versions/1/people?maxItems=${maxItems}&skipCount=${skipCount}"]]}`

2.
`{"metadata":[{"colIndex":0,"colType":"String","col

[2017-06-04 20:05] fcorti commented on #3
Patched two jobs "Get JSON in table" and included in the new release of EA.

[2017-06-04 20:05] #3 closed, assigned to fcorti

[2017-07-09 05:45] fcorti opened #5 "Windows installation issues"
The problems found from some user are:
1. Unzipping Pentaho in Desktop will cause the paths to be too long. Suggest to unzip it in C:.
2. The file name web.xml.2017-07-08T14:09:53.033Z  has invalid windows characters.
3. Uncompress pentaho to the desktop is also not a good idea.The problem is that there are jar files inside with big names which makes the destination path too big for windows!

[2017-07-09 05:47] fcorti opened #6 "Using a different port for Pentaho from 8080"
Some errors appear using a different port for installation than 8080.

[2017-07-09 15:31] yregaieg commented on #6
Did you try configuring the connector in server.xml ? only then it works for me behind reverse proxy and/or different port

[2017-07-09 15:35] fcorti commented on #6
I did not tried, fwu submitted this issue and he is trying to fix it in his Windows environment.
We agreed that he will push the fix if he will succeed.
I asked him a git user to include him in the discussion.

[2017-07-10 06:49] fcorti commented on #5
The issue is on _installAlflytics.kjb
Changed this:

parent_job.setVariable("now", (new Date()).toISOString));

to this:

parent_job.setVariable("now", (new Date()).toISOString().replace(/\:/g, ""));

Waiting to push the change in the repo...

[2017-07-12 07:46] fcorti opened #7 "Comma in SQL command on Windows platform"
The SQL query (for HyperSql)

MERGE INTO DWH_DIM_DATES_YEARS USING (SELECT -1,0 AS ID, 'Unknown' AS DESCRIPTION FROM (VALUES(0))) AS VALS(ID,DESCRIPTION)

Seems to fail because of the comma in "-1,0" on Windows platform.

[2017-07-17 12:29] smvo commented on #6
hello,

Sorry but the problem was not related with errors and the 8080 port! The problem is that the 8080 port is fixed in a lot of places inside Alflytics files. Thus, it is not easy to set another port, other than 8080. For me this would be important because Im running Alfresco on the same machine, which by default also use 8080 port. Finally, it is not only the 8080 port that needs to be change

[2017-08-20 18:23] fcorti commented on #6
Thank you for your patience guys.
I had the change to go through this issue and updated the distribution package.
I also added a new FAQ to the documentation to describe a side effect that can happen choosing a different port (or URL) from the default one.

Closing the issue.

[2017-08-20 18:23] #6 closed, assigned to nobody

[2017-08-24 20:40] psedwards99 commented on #5
Hi Francesco,

Do plan to push this change soon? I was looking to install Alflytics at one of our Alfresco customers who use Windows.

Thanks
Paul

[2017-08-25 06:52] fcorti commented on #5
Hi psedwards99,

In most of cases it is not an issue and I'm aware about succesfull installations on win.
I suggest you to try in a dev env so you could share your feedback and confirm it works well.

Let me know at fcorti at gmail dot com (or here) if you have issues.

[2017-08-26 13:01] fcorti commented on #5
Added a patch to the endpoints/kettle/admin/_installAlflytics.kjb.
Updated also the pre-relase.

[2017-08-26 13:01] #5 closed, assigned to nobody

[2017-08-26 13:19] fcorti commented on #2
Done

[2017-08-26 13:19] #2 closed, assigned to fcorti

[2017-09-18 15:43] alffwu opened #8 "integrity constraint violation: NOT NULL check constraint"
hello,

I think this is a bug: when retrieving the tasks from Alfresco, Alflytics is expecting to get an assignee for every task, but some tasks may have no assignee in a specific time, for instance, when a task is sent to a group and no one accepted it yet.

This is the error:

2017-09-18 15:57:54,684 ERROR [org.pentaho.di] 2017/09/18 15:57:54 - Execute row SQL script.0 - ERROR (version 7.1.0.0-1

[2017-10-11 21:13] Danielagarcia1309 opened #9 "Problem with Jobs when running in Data integration !!!!"
Good Afertnoon
I have problems with the execution of the Jobs that are generated in the integration with Alfresco, I generated the following problem in the majority of Jobs:

`2017/10/11` 15:57:40 - Dynamic SQL row.0 - ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : Because of an error, this step can't continue:
2017/10/11 15:57:40 - Dynamic SQL row.0 - Error obtaining f

[2017-10-15 08:30] fcorti commented on #9
Hi Daniela,

Usually this error is a side effect of something that is not working, during the installation task.
Most of the times it depends on the pentaho URL, if not installed on the default localhost:8080.
In which URL/port your pentaho instance is running?
If it is not on localhost:8080, did you update the jobs as described on page 29 (paragraph 3.4.1.5) of the manual?

Cheers.

[2017-10-17 20:49] Danielagarcia1309 commented on #9
Hi
thank you for answering me
the pentaho is running in http://localhost:8080/pentaho/   runs without problem. Given that we are developing it with postgresql
 I'm looking at paragraph 3.4.1.5 and it sends me in the chapter that sends me sends another chapter of scalability, there is a section in which, we talk about Kitchen.bat, when I run this as it says in the guide, I get this script error to

[2018-01-08 13:45] Joysond opened #10 "Data extraction failed"
Hi ,
I am trying to extract data (http://localhost:9000/pentaho/plugin/Alflytics/api/extract) and I get the following exception.

`org.pentaho.di.core.exception.KettleStepException:
Error while running this step!

Couldn't execute SQL: INSERT INTO "DWH_DIM_DATES_YEARS" ("ID","DESCRIPTION")
(
  SELECT -1.0 AS "ID", 'Unknown' AS "DESCRIPTION"
)
ON CONFLICT ("ID") DO UPDATE SET
 "DESCRIPTION"=EXCLUDE

[2018-01-08 13:59] fcorti commented on #10
Hi,

Can you please confirm you are using PostgreSql as DB for the Alflytics warehouse?

Do you get the same error if you try to run the Get All job using the Spoon User Interface?

Cheers.

[2018-01-09 05:04] Joysond commented on #10
Hi,

I am using PostgreSql as DB for Alflytics warehouse and I do not get any errors for **Get All** job in Spoon UI

Thanks

[2018-01-09 08:03] fcorti commented on #10
Hi again,

I received a notification that I cannot see anymore here?
Perhaps you deleted it.

Any update on this?

[2018-01-09 08:31] Joysond commented on #10
I am not able to run from spoon UI too. I get below error

2018/01/09 12:59:03 - Get REST in json for audit trail - ERROR (version 7.0.0.0-25, build 1 from 2016-11-05 15.35.36 by buildguy) : java.lang.StackOverflowError
2018/01/09 12:59:03 - Get REST in json for audit trail - 	at java.net.SocketInputStream.socketRead0(Native Method)
2018/01/09 12:59:03 - Get REST in json for audit trail - 	at java

[2018-01-09 08:33] Joysond commented on #10
I am using postgresql as DB for Alflytics warehouse

 I see below exceptions keep repeating

2018/01/09 14:55:19 - Get REST in json for audit trail - ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : org.pentaho.di.core.exception.KettleException:

2018/01/09 14:54:37 - Get REST in json for audit trail -  at org.pentaho.di.job.entries.trans.JobEntryTrans.execute (JobEntryTr

[2018-01-09 15:29] fcorti commented on #10
Hi,

The first error (java.lang.StackOverflowError) is related to few memory available for Spoon.
The other error is not clear enough.
I suggestion you to solve the first, before, extending the RAM for it.

Let me know how it goes.

[2018-01-10 07:25] Joysond commented on #10
Hi,

I have increase the memory for spoon and still no luck

If I disable or set property **alflytics.getData.alfresco.entity.audits=false**  in Get From Alfresco then job runs fine but I see below error

` Insert or update the users - ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : An error occurred executing this job entry :
2018/01/10 10:20:44 - Insert or update the u

[2018-01-10 12:01] Joysond commented on #10
Hi,

I have resolved most of the errors and I get only below listed exception (not while retrieving data from alfresco but while writing to alflytics database)

Couldn't execute SQL: INSERT INTO "DWH_DIM_DATES_YEARS" ("ID","DESCRIPTION")
(
SELECT -1.0 AS "ID", 'Unknown' AS "DESCRIPTION"
)
ON CONFLICT ("ID") DO UPDATE SET
"DESCRIPTION"=EXCLUDED."DESCRIPTION"

ERROR: syntax error at or near "ON"

An

[2018-01-11 10:34] fcorti commented on #10
HI,

What happen if you execute the same command into the PostgreSql client (like Admin3 for example)?
Are you having the same error?

[2018-01-11 12:26] Joysond commented on #10
Hi,

Yes I get same error.

Query Executed : `INSERT INTO "DWH_DIM_DATES_YEARS" ("ID","DESCRIPTION") (SELECT -1.0 AS "ID", 'Unknown' AS "DESCRIPTION") ON CONFLICT ("ID") DO UPDATE SET "DESCRIPTION"=EXCLUDED."DESCRIPTION"`

Error message:

 ERROR:  syntax error at or near "ON"
LINE 1: ...(SELECT -1.0 AS "ID", 'Unknown' AS "DESCRIPTION") ON CONFLIC...

[2018-01-11 16:58] fcorti commented on #10
Ok, so it's a problem of PostgreSql version!
Probably the version you are using is not supporting the "ON ..." command.
Please check.

[2018-05-21 21:11] Silvestre77 opened #11 "Bug Wrapped Exception (with status template): null"
2018/05/17 21:23:48 - Abort.0 - ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : Row nr 1 causing abort : [{}], [http://10.39.17.122:8080/alfresco/service/api/audit/query/alfresco-access?fromId=785000&limit=5000&verbose=true], [GET], [785000,0], [{
2018/05/17 21:23:48 - Abort.0 -     "status" :
2018/05/17 21:23:48 - Abort.0 -   {
2018/05/17 21:23:48 - Abort.0 -     "code"

[2018-05-22 06:50] fcorti commented on #11
Hi @Silvestre77,

The error 500 is on Alfresco's side.
I suggest you to check the `catalina.out` on Alfresco and you should have a better idea of the issue.

[2018-05-22 06:50] fcorti commented on #10
I assume it is solved.

[2018-05-22 06:50] #10 closed, assigned to nobody

[2018-05-22 06:51] fcorti commented on #9
Assumed as answered.
Let me know if it is not.

[2018-05-22 06:51] #9 closed, assigned to nobody

[2018-05-23 14:50] david-ciamberlano opened #12 "File "Alflytics.datasource.analysis.xml" not found during the installation process"
Hi,

I'm trying to install Alflytics (locally on my mac) following the instructions on the official manual.

The installation process fails with the following error (taken from catalina.out):

`Generate multipart entity.0 - ERROR (version 7.0.0.0-25, build 1 from 2016-11-05 15.35.36 by buildguy) : File 'Users/david/Workspace/work/pentaho-server/pentaho-solutions/system/Alflytics/endpoints/kettle/a

[2018-05-23 15:03] fcorti commented on #12
Hi @david-ciamberlano,

MacOs has not being tested and something might not work properly.
My recommendation is to use a Linux server.
I usually use a Virtual Machine on my Mac Laptop, for this purpose.

[2018-06-08 15:43] david-ciamberlano opened #13 "Extraction error"
Hi,

I've managed to install and configure Alflytics_v5_EA but when I try to perform an "extraction" from Alfresco, I get the following error (from catalina.out):

[code]

The Alfresco instance is available and reachable from the alflytics server (it responds with the xml fragment visible in the log).
It seems like the basic authetication used by the api/discovery call does not respond in the corr

[2018-06-10 09:23] fcorti commented on #13
Hi David,

Can you please try with HTTP first?
I have experienced in the past some issue in communication using the HTTPS protocol.
Please let me know how it goes here, so we can decide to close the issue do more tests.

Cheers.

[2018-06-12 10:52] david-ciamberlano commented on #13
Hi,

thank you for the response.
I've done more tests and I can confirm that Alflytics can login with both http and https protocols.

It could be an Alfresco issue (related to this one: https://issues.alfresco.com/jira/browse/MNT-15819).
I would need to do some in-depth tests. Could you point me to the java class that perform the Http(s) call to the alfresco REST service?

Thank you.

[2018-06-14 10:49] david-ciamberlano commented on #13
Finally I resolved the issue.

The "Browser Based Automatic Login" option (in _Admin Console_->_Directory Management_) was setted to "internal". I switched it to _disabled_ and now I'm able to perform extractions in Alflytics.

I hope this will be useful to others.

[2018-06-14 10:49] #13 closed, assigned to david-ciamberlano, fcorti

[2018-07-04 10:30] jjrabadan commented on #12
Hi @fcorti ,

I'm trying to install Alflytics into my Apple Powerbook with Mac OS Sierra. I found the same error that @david-ciamberlano found when doing the same kind of installation:

2018/07/04 12:11:41 - Generate multipart entity.0 - ERROR (version 7.0.0.0-25, build 1 from 2016-11-05 15.35.36 by buildguy) : File 'opt/pentaho-server/pentaho-solutions/system/Alflytics/endpoints/kettle/admin/../s

[2018-07-05 08:20] fcorti commented on #12
Hi JJRabadan,

Alflytics has not been tested on MacOS and the issue there is about paths into ETLs.
I hope this helps.

[2018-08-09 17:05] jjrabadan opened #14 "No extraction activity"
Hi:

I've installed Pentaho and Alflytics successfully, but when I try to push the Extract button, Catalina does not show me any REST call.... This is what I see: (I use HSQL)

2018/08/09 18:28:19 - readConfiguration - Spedizione iniziata per la trasformazione [readConfiguration]
2018/08/09 18:28:19 - DWH_ALF_DIM_INSTANCES.0 - Finished reading query, closing connection.
2018/08/09 18:28:19 - DWH_A

[2018-08-10 07:17] fcorti commented on #14
A couple iof things:
1) It's very strange the language is italian. It should not affect the success, but it's unusual.
2) The log trail is NOT related to extraction, but it is related to installation.

Please double check your pressing the Extraction button (not the installation button).
If the previous check is positive, the issue is probably on the client side (the button does not work).
Try to

[2018-08-10 10:34] jjrabadan commented on #14
Hi @fcorti :
I've checked the button "Extract" on Firefox, Chrome and Safari. No errors. The console doesn't show any error. Here is the content from pentaho.log just after clicking "Extract":

2018-08-10 12:25:21,008 INFO  [org.pentaho.di] 2018/08/10 12:25:21 - alflyticsExtract - Spedizione iniziata per la trasformazione [alflyticsExtract]
2018-08-10 12:25:21,012 INFO  [org.pentaho.di] 2018/08/10

[2018-08-10 22:10] Roberto-Bicudo opened #15 "Error importing the audit event."
Corti, good evening.
I am with problems in extraction:

018/08/10 18:37:07 - Write to log.0 - ------------> Linenr 33077------------------------------
2018/08/10 18:37:07 - Write to log.0 - Error importing the audit event.
2018/08/10 18:37:07 - Write to log.0 - Probably the ID is extracted multiple times but at the moment this is how Alfresco works.
2018/08/10 18:37:07 - Write to log.0 -
2018/08/1

[2018-08-11 17:21] fcorti commented on #15
Hi Roberto,

This is not an error but a warning.
The warning highlights what sometimes happen on Alfresco side, often because of indexing.
The suggestion is to ignore the warning, if you don't mid to be precise at 100% on the analytics or try to solve it on Alfresco side.
One thing to do is reindex Solr.
I'm aware that in other cases it helps.

I close the issue because not a bug of Alflytics, but

[2018-08-11 17:21] #15 closed, assigned to fcorti, Roberto-Bicudo

[2018-08-11 17:24] fcorti commented on #12
Closing this becasue I don't see more discussion.

[2018-08-11 17:25] #12 closed, assigned to fcorti

[2018-08-11 17:25] #11 closed, assigned to fcorti

[2018-08-14 17:50] Roberto-Bicudo commented on #15
Francesco
Thank you for answering me.
I understood that reindex SOLR4.
I will try it.
Sorry, but maybe I do more questions to you.
I´m trying to migrate form "AAAR" to "Alflytics".
Sincery,
Roberto Bicudo
    Em ‎sábado‎, ‎11‎ de ‎agosto‎ de ‎2018‎ ‎14‎:‎21‎:‎32‎ ‎-03, Francesco Corti <notifications@github.com> escreveu:

Hi Roberto,

This is not an error but a warning.
The warning highlights what

[2018-08-16 06:52] fcorti commented on #15
Hi Roberto,

Can you please open another question about it?
The answer is not exciting but can help other developers.

Many thanks.

[2018-08-16 07:48] fcorti commented on #14
The error is here:

2018-08-10 12:25:21,024 ERROR [org.pentaho.platform.web.http.api.resources.RepositoryResource] Repository file [:public:Alflytics:ETL:Get all.kjb] not found

Jobs and transformations are not installed.
Please check the installation first.

[2018-09-14 15:16] bpechcorp opened #16 "Cannot extract data from alfresco"
I have install alflytics manual with postgresql 9.4.
When i extract data, nothing extracted. And in log has an error below:
2018/09/14 22:12:44 - alflyticsExtract - Dispatching started for transformation [alflyticsExtract]
2018/09/14 22:12:44 - Data Grid.0 - Finished processing (I=0, O=0, R=0, W=1, U=0, E=0)
2018/09/14 22:12:44 - Variable substitution.0 - Finished processing (I=0, O=0, R=1, W=1, U

[2018-09-19 07:15] fcorti commented on #16
Hi,

I think the error is quite clear:
The host did not accept the connection within timeout of 10000 ms

Do you have any firewall or something preventing you to access to the server?

[2018-09-19 07:29] bpechcorp commented on #16
Hi @fcorti ,
I don't have any firewall, i use PDI to extract and view db, i see data in "OPE_ALF_USERS" table.
But other tables is empty.

[2018-09-19 07:41] fcorti commented on #16
This behaviour does not match with the previous error.
If you see data into the USERs' table, you cannot have a connection timeout.
Maybe you are referring to two different errors?
If I am correct please close this and open another with the description of the error and further details on the environment.
Many thanks.

[2018-09-19 08:34] bpechcorp commented on #16
@fcorti ,
Sorry, i described unclear,
- First case: extract use http://x.x.x.x:xx/pentaho/plugin/Alflytics/api/extract , and no data on db
- Second Case: Extract use PDI: there are data on some tables . But  Alflytics Dashboard is empty : https://drive.google.com/open?id=1w2qzmf4VhvbeuDnvw_Jq-z4nRF6lyGbx

[2018-09-19 08:47] fcorti commented on #16
Please, let's face the issues in two different tickets.
Please keep the first here and open another for the second issue.

About this issue (issue n.1 in your list), I assume the log is what you reported above.
If this is true, the problem is the timeout of the server.

[2018-09-19 12:40] Dnhatsave opened #17 "put reports into Alfresco"
hi Corti,

im using a PDI to execute the job ''**report all**'', and i would like publish the reports into the alfresco, I've followed the steps described on page 44 -5.3.3 of the Alflytics-Manual , also a i've update the table DWH_REPORTS setting the correct values for ALF_FTP_PORT and ALF_FTP_HOST.
the good news is that I got 9 reports published successfully in alfresco, the bad news is had the

[2018-09-19 15:27] Dnhatsave commented on #8
hey there,
i had the same problem in some tables using a MySql workbench 6.3.
to solve this issue i've to disable the foreign key checks with this query
SET GLOBAL FOREIGN_KEY_CHECKS=0;

for some reason mysql prevented the execution of this query, probably because of the version or  my configurations.

I hope this is useful.

best regards.

[2018-09-19 15:48] Dnhatsave opened #18 "Get data from Alfresco using spoon"
hi one more time,

im tryng to get data from the alfresco instance usign spoon and mysql workbench 6.3 as database for data warehouse.
i've execute the job "**Get all**" and i had the following erros:

No tran_Status found. Transformation status checking not available.
2018/09/19 16:39:49 - Alflytics - launch DDL statement:
2018/09/19 16:39:49 - Alflytics - INSERT INTO `OPE_ALF_AUDIT_ACCESSES`(`IN

[2018-09-20 07:18] fcorti commented on #17
Hi Dercio,

I'm confused: you say that you have the 9 reports published successfully in alfresco but you have an error.
Can you please clarify?

[2018-09-20 07:19] fcorti commented on #8
Thank you Decio for sharing your solution.

[2018-09-20 07:22] fcorti commented on #18
Hi Decio,

What happens if you run the following query using the MySql Workbench?

`OPE_ALF_AUDIT_ACCESSES(INSTANCE_ID,ID,USER,USER_LOGIN,USER_LOGIN_FAILURE,USER_LOGOUT,TIME,ACTION,NODE_PATH) VALUES (1,1,'admin','admin',null,null,CONVERT_TZ(STR_TO_DATE('2018-09-05T15:04:03.10', '%Y-%m-%dT%H:%i:%s.%f'),'+02:00','+00:00'),null,null)
`

I think there is a syntax error into this query, for your versio

[2018-09-20 12:39] Dnhatsave commented on #18
Thanks for the atention @fcorti

you forgot to mention a "INSERT INTO" command.

I've run the query on workbench as recommended  and i had the following error:

Error Code: 1062. Duplicate entry '1-1' for key 'PRIMARY'

is this really a problem of MySql version? if yes, i like to know wich version of MySql you recommend.
i'm using workbech 6.3 and mysql 5.7.23.

Thank you,
Dercio.

[2018-09-20 12:53] Dnhatsave commented on #17
yes corti,

I’ve 9 reports successfully published in alfresco I expected to see more because during the publication I had the FTP error quoted above.

[2018-10-14 16:44] fcorti commented on #18
Ok, this make sense because the row has been probably inserted.
What if you replace the ID value with another not already in present as ID?
Is the Insert command working?

[2018-10-14 16:46] fcorti commented on #17
Can you please share the content of the table DM_REPORTS?

[2018-10-15 07:57] Dnhatsave commented on #17
Hi Corti,
I already discovered the problem, I'had only 9 reports were published because the Row 10 is not updated.

Yes, Here is my DWM_REPORTS table

[DWM_REPORTS.docx](https://github.com/fcorti/Alflytics/files/2477856/DWM_REPORTS.docx).

Best regards,
Dercio.

[2018-10-15 08:18] Dnhatsave commented on #18
It work, I've change the ID value for 2

but I still do not understand why this happens..

[2018-11-11 15:56] fcorti commented on #18
Can you please check if you have a duplicated audit entry with ID = 1 into the STG_ALF_AUDIT_... table?
I'm aware that sometimes Alfresco generates a duplicated audit entry with the same ID and this cause the primary key violation. Most of the times it is a problem on Alfresco side.

I'm going to close this ticket for this issue.

Please open another sharing the context of problem, if needed.

Tha

[2018-11-11 15:56] #18 closed, assigned to fcorti, Dnhatsave

[2018-11-11 15:57] fcorti commented on #17
Well done!

Closing the issue, then.

[2018-11-11 15:57] #17 closed, assigned to fcorti, Dnhatsave

[2018-11-22 17:12] aivdev commented on #14
I've this problem... I receive the same message at catalina.out log file... But I follow the guide... I see that ETL files are zip with timestamp in default-content... could you say what I've to see in order to solve it?

[2018-11-27 07:45] fcorti commented on #14
Hi,
When you will start Pentaho, the ZIP file will be automatically extracted and imported into the Pentaho repository. If you use Pentaho Data Integration and access to the repository, you will see a collection of jobs and transformations.

[2018-11-28 20:56] aivdev opened #19 "No data found"
I've installed Alflytics with Java 8 + Pentaho 7.1 + Alfresco CE 5.2
I've manual installed Alflytics, download .zip and uncompress in system directory.
I have performed the steps indicated in the manual and performed an extraction.

![captura de pantalla 2018-11-28 a las 16 03 24](https://user-images.githubusercontent.com/8139678/49181635-3106c900-f358-11e8-8d2c-6da3215399f2.png)

Then, I have pub

[2018-11-28 21:00] fcorti commented on #19
Hi Angel,

The dashboard talks very well.
[Users] The extraction went well.
[Audit trail] There is an error on the very first part of the extractor.
[Nodes] There is an error importing the content into the data mart.
[Workflow] There is an error extracting the processes from Alfresco.

For more details, check the catalina.out on Pentaho side.

[2019-03-19 19:20] marcogianini commented on #16
Hi
I have the both issues.
I installed Pentaho in same server of Alfresco but each one in different ports. Alfresco was in 8080 and Pentaho 9090. Only change in Pentaho with Alflytics the server.xml file to 9090 port.
The issues are:
- when i execute extract in Alflytics nothing run, in log show me about http://localhost:8080/pentaho and I don´t find the file that has this configuration.
- and das

[2019-03-24 08:06] fcorti commented on #16
Ciao Marco,

By default Alflytics works on port 8080.
You can change the port directly into the "Get All" job using Spoon.
If you check into the parameters you will find one called port with the default value to 8080.
Change it to 9090, save it an run it again.

I hope this will help you.

[2019-03-24 08:06] #16 closed, assigned to fcorti, bpechcorp

[2019-04-14 13:49] shabnash opened #20 "not fetching any data"
Hi Francesco ,

Greetings ...

I tried to install AAAR initially , but had some errors . After your guidance I tried installing the Alflytics . But I am facing below issue .

OS : - Ubuntu 18.10 server
Pentaho :- pentaho-server-ce-7.1.0.0-12
Alfresco :- 5.2
Database :- Postgres

Issue :- Not extracting any information and found that there is no files in the :public:Alflytics:ETL:Get all.kjb. I che

[2019-04-18 14:33] #20 closed, assigned to nobody

[2019-04-21 09:38] shabnash opened #21 "Extraction Error in Alflytics"
Hi Francesco,

I tried installing Alflytics with Alfresco community 5.2 . But Ended up in some error . I am new to the solution , request your help in identifying the error .

Alfresco Share 5.2
pentaho 7.1
Postgres DB
Installation Method  : Manual

During the process of installation , there was no errors . However , we started having error from extraction process . please find the Extraction imag

[2019-04-23 07:31] fcorti commented on #21
Hi Shabanash,

If you check at the Pentaho log files there are some errors.
Below the ones I found.

[code]

[code]

[code]

It seems an issue with the rest endpoints.
Please check them and try to extract again.

[2019-04-26 14:19] Dnhatsave opened #22 "Get REST in json for audit trail Error"
Hi @fcorti ,

At first i would like to congratulate you for the project, it has been very useful.

Recently i've sucessfully  install the Alflytics into production enviroment for tests reason, but i have problems while execute the job get+all using the follow script on PDI kitchen:

` sudo sh /opt/PENTAHO/data-integration/kitchen.sh -rep=Alflytics_TESTE -user=admin -pass=****-job=Get+all -dir=/pub

[2019-04-27 15:35] fcorti commented on #22
Hi,

I'm afraid it's a matter of permits on the file system.
I see you are running the command as sudo and the error is related to the Set target file, that is supposed to write a file on the file system.
Please give all the permits to the working folders and try again.

I'm pretty sure this is the problem.

Please let me know how the test goes.

[2019-04-29 09:49] Dnhatsave commented on #22
Hello Francesco,

I've run the command without "sudo" and i see in log file a error releated to directory /tmp/Alflytics/Alfresco...
the error was related to a json file that was not being removed. I solved this problem by gave all permissions to this folder with command `sudo chmod 777 /tm/Alflytics/Alfresco... -R`
I do the same thing at this folders **/opt/pentaho/data-integration ,/opt/pentaho/

[2019-05-06 10:01] Dnhatsave commented on #22
Hi Francesco,

I've been debugging the problem during the week and noticed a possible incompatibility between alfresco-search-services and Alflytics in some REST requests.

see the following logs:

**On the data-integration side**:

`
Starting entry [Set alfrescoRest variables (4)]
2019/05/06 11:30:47 - Get Alfresco counter - exec(35, 0, Set alfrescoRest variables (4).0)
2019/05/06 11:30:47 - Set

[2019-07-10 15:49] marcogianini opened #23 "Error fetching Alfresco data"
My environment is (only server):
Cent OS 7.6.1810
Alfresco 5.2
Postgresql 9.6.14

In Postgresql it has the Alfresco database (alfresco), the Alflytics database (alflytics) and the postgres database.

I made the installation by connecting to the Postgresql database according to the manual.

Through the Spoon on my desktop I made the connection in Pentaho and changed the 5 scripts it has in Alflytic

[2019-07-12 08:31] fcorti commented on #23
Hi Marco,

The error I see is the following one:

pt.webdetails.cpf.packager.dependencies.JsMinifiedDependency] Error getting input stream for dependency saikuWidget/SaikuWidgetComponent.js.

Does it happen during the ETL extraction or during the dashboard usage?

[2019-07-12 12:24] marcogianini commented on #23
Corti, good morning,

This error seems to me to be of the Widget Saiku, but at that moment I am not using it. And this error may be the lack of installation of Cent OS dependencies, I'm verifying.

My only concern is that when executing the extract it does not input into the Data WareHouse tables. This does not generate the reports because it has no data.

I did a new installation on my Windows ma

[2019-07-12 12:25] marcogianini commented on #23
Corti, good morning,

This error seems to me to be of the Widget Saiku, but at that moment I
am not using it. And this error may be the lack of installation of Cent
OS dependencies, I'm verifying.

My only concern is that when executing the extract it does not input
into the Data WareHouse tables. This does not generate the reports
because it has no data.

I did a new installation on my Windows ma

[2019-07-15 08:27] fcorti commented on #23
Hi Marco,

I don't think the Saiku error is related to the issue you are experiencing.
Saiku is about the visualization of data, the ETL is another task, using different technologies.

Looking at your dashboard, it seems you are not using audit.

On the repository extraction: the Alfresco to Staging goes well with 256 pieces of content, the extraction from Staging to Operational goes well with all

[2019-07-15 15:02] marcogianini commented on #23
Hi,
I ran it again today, however I was not allowed to run on the client.
So I executed on my machine presenting the same scenario. On my machine it does not have the Saiku Analytics Plugin.
My ambiance is this way:
Windows 10
Postgresql 9.5
Pentaho Server CE 7.1.0.0-12
Pentaho Data Integrator CE 7.1.0.0-12
Alflytics v5.0.EA
Attached are the files catalina.log and pentaho.log
[pentaho.2019-07-15.l

[2019-08-01 10:28] abipriya95 opened #24 "Extraction Error in Alflytics with Alfresco v6: Rest call failed"
Hi,
    I am facing issue with extraction process of alflytics. It works fine with the Alfresco version 5.2. I tried running it with Alfresco 6 and I get below error. Does Alflytics work with Alfresco version 6?
    Here is the log

    Get Alfresco repository from Alfresco in tmp - Starting entry [Create targetPathForCategories]
2019/08/01 14:33:59 - Get Alfresco repository from Alfresco in tmp -

[2019-08-02 06:59] fcorti commented on #24
Hi,

The error is calling the following query endpoint on Alfresco.
http://localhost:8081/alfresco/api/-default-/public/search/versions/1/search
With parameter:
{"query":{"query":"(TYPE:"cm:category")","language": "afts"},"sort":[{"type":"FIELD","field":"cm:modified","ascending": true},{"type":"FIELD","field":"sys:dbid","ascending":true}

You can check on Alfresco side if correct or not.

I'm look

[2019-08-02 09:00] abipriya95 commented on #24
Hi,
    Thanks for the response. Sure... we are using Alfresco 6 right now. We needed Alflytics to work with Alfresco v6 also.

[2020-02-12 12:28] reimsby opened #25 "alflytics with postgres sql"
Hello,
I am on a project where I have to provide statistics from alfresco thanks to alflytics. I used postgres. but I can't extract the data from alfresco. at each extraction my alflytics uses hsqldb.
thank you to enlighten me. thank you

[2020-02-12 14:14] fcorti commented on #25
Hi @reimsby,

Did you try paragraph 3.4.1 of the manual?
Below you can find the link.
https://github.com/fcorti/Alflytics/blob/master/documentation/Alflytics-Manual.pdf

[2020-02-12 14:49] reimsby commented on #25
Thank you for your reply

Thank you for your reply

[2020-02-12 14:50] fcorti commented on #25
Great

[2020-02-12 15:00] reimsby commented on #25
ofet I already use the manual and to be frank I followed the instructions
to the letter.
but everytime i try to extract the server uses hsqldb instead of PostgreSQL.
thank you

Le mer. 12 févr. 2020 à 14:50, Francesco Corti <notifications@github.com> a
écrit :

[2020-02-12 20:33] fcorti commented on #25
What the Pentaho log says? (catalina.out file on Pentaho)

[2020-04-19 10:46] howkymike commented on #21
Hello,
I seem to have very similar problem on Alfresco Community 6.1.1. I cannot extract data
The query:
[code]
**returns error code 500**.
There is something wrong with the cm:modified, because if I delete it, query is OK.
[code]
**This query is correct.**

My error log on Pentaho side ( _pentaho.log_):

My error log on Alfresco side:

[2020-05-04 14:32] fcorti commented on #21
Hi @howkymike,

If you execute the full query using the ACS REST endpoint, is it working?

[2020-05-08 23:38] howkymike commented on #21
Well.. I executed it via Alfresco API Explorer (the one based on Swagger) and it's not working.

[2020-05-11 19:26] fcorti commented on #21
Which version of ACS are you using?

[2020-05-11 20:05] howkymike commented on #21
Alfresco Community 6.1.1. Is the Alflytics compatible only with the paid version of Alfresco?

[2020-05-11 20:10] fcorti commented on #21
Oh sorry, you wrote it also above in the thread.

Ok, it could be the problem because I did not test it with this version.
If you make it work using the REST API, you can change the file containing the query and it should work.

[2020-06-23 09:27] Dnhatsave commented on #24
Hi,

I've the same problem on Alfresco 6.1.2 i got this error

rt.0 - ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : Row nr 1 causing abort : [{"query":{"query": "(((TYPE:\"cm:content\") OR (TYPE:\"cm:folder\")) AND NOT (TYPE:\"cm:systemfolder\") AND (@cm:modified:[\"2001-01-01T00:00:00.000Z\" TO MAX]))","language":"afts"},"paging":{"maxItems":1,"skipCount":1000000000}}

[2020-06-26 10:53] fcorti commented on #24
Hi Dercio,

The error on Pentaho side says that the REST call failed... and this is true, considering that on the Alfresco side the query failed.

The problem seems to be on Alfresco/Solr side.

Mi suggestions to raise the same query using a REST endpoint directly on Alfresco an solve the problem there.

I hope this helps you.

[2020-06-30 13:49] Dnhatsave commented on #24
Thanks for the response Francesco,

I've follow you recommendation and i change the query on PDI directly for alfresco and now i got this error

ERROR (version 7.1.0.0-12, build 1 from 2017-05-16 17.18.02 by buildguy) : Row nr 1 causing abort : [{"query":{"query": "(((TYPE:\"cm:content\") OR (TYPE:\"cm:folder\")) AND NOT (TYPE:\"cm:systemfolder\") AND (@cm:modified:[\"2001-01-01T00:00:00.000Z\" TO

[2020-07-01 10:06] fcorti commented on #24
The REST endpoint should exist, as you can see from swagger.

https://api-explorer.alfresco.com/api-explorer/#!/search/search

Did you manage to try the direct REST API call to reproduce the error?

[2020-07-01 15:02] Dnhatsave commented on #24
How can i call direct REST API ?

I've only execute the url  /alfresco/api/-default-/public/search/versions/1/search form browser  and still shows the message

"stackTrace": "For security reasons the stack trace is no longer displayed, but the property is kept for previous versions",

    "descriptionURL": "https://api-explorer.alfresco.com"

[2020-07-02 06:52] fcorti commented on #24
https://www.postman.com/

Is one of the best tool for this purpose.

[2020-07-02 11:57] Dnhatsave commented on #24
I got the same message with postman as you can see

![Screenshot 2020-07-02 at 14 01 23](https://user-images.githubusercontent.com/43370602/86356024-ddfba300-bc6b-11ea-8196-1bb17070c4bf.png)

[2020-07-02 12:06] fcorti commented on #24
What the Alfresco catalina.out log file says about the error?

[2020-07-02 12:46] Dnhatsave commented on #24
The logs says

[code]

[2020-07-02 12:48] fcorti commented on #24
Sorry, I don't understand Spanish.
In every case, it seems there is a problem on the ACS side, not Pentaho (so Alflytics) side.
This is telling to me that you Alfresco installation has an issue (if confirmed).

[2020-07-02 14:30] Dnhatsave commented on #24
its Portuguese,

translating the error says:

`For security reasons, stack tracking is no longer displayed, but ownership has been retained for previous versions`

[2020-07-02 14:43] fcorti commented on #24
I was looking at the sceenshot.
It says: error 401 => Unauthorized
I think there is the wrong credentials in the postman call.
;-)

[2020-07-02 14:54] Dnhatsave commented on #24
Yes sure :-D, the credentials were wrong

I changed the header and had the error bellow

![Screenshot 2020-07-02 at 16 58 37](https://user-images.githubusercontent.com/43370602/86374269-a9481580-bc84-11ea-9102-1c1a3faf900d.png)

[2020-07-02 15:01] fcorti commented on #24
Ok, now it is a 404.
Do you have a swagger client on Alfresco?
Can you retrieve the URI of the search endpoint?

[2020-07-02 15:25] Dnhatsave commented on #24
it's my first time to hear the term swagger, but i think that i dont have it on Alfresco.
I don't have an URI for search at alfresco im using external Solr.

[2020-07-02 15:33] fcorti commented on #24
You can ask in the hub.alfresco.com.

[2020-07-19 10:23] billydekid opened #26 "No jobs files on Pentaho Analytics platform path /public/Alflytics/ETL"
Hi,
I'm having issue on importing Pentaho repository (section 3.4.1.4 Importing the Pentaho repository).
After restarting the server, no files generated on ETL and OLAP directories, only sub-folders was generated (as attached).
Is it a normal results or not?

Ubuntu 16.04
Pentaho Analytics 7.1
PostgreSQL 9.5
Alflytics 5.0

![screenshot-192 168 56 102_8080-2020 07 19-17_07_34](https://user-images.g

[2020-07-20 23:43] billydekid commented on #26
After continuing installation, all files appear finally on PDI. Something like a kind of file type filtering on pentaho analytics file browser.

[2020-07-20 23:43] #26 closed, assigned to nobody

[2020-07-29 08:08] fcorti commented on #26
Good job!